.containerH{
    background-color: white;
    padding:20px 20px;
    display:flex;
    align-items:center ; 
    justify-content:flex-start;
    width: 100vw;
     box-shadow: 0 1px 3px rgb(0 0 0 / 10%), 0 2px 2px rgb(0 0 0 / 6%), 0 0 2px rgb(0 0 0 / 7%) ; 
     padding-left: 40px
}
.heroImage{
    width: 900px;
    max-width: 1000px;
    height: 400px;
    object-fit: contain;
    border-radius: 10px;
   
}
.topWrapper{
    display: flex;
    margin-top: 20px;
    width: 100%;
    justify-content: center;
    flex-direction: column;
   
    align-items: center;
}
.topTextWrapper{
    align-items: flex-start;
     margin-top: 20px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 100%;
    padding: 20px ;
    padding-left: 200px;
    
}
.mainHeader{
    font-size: 36px;
    font-weight: bold;
}
.text{
    display: flex;
    width: 300px;
    align-items: flex-start;
    align-content: flex-start;
    justify-items: flex-start;
    justify-content: flex-start;
    align-self: flex-start;
    
}

.cardWrapper{
    align-items: flex-start;
    margin:10px;
    display: flex;
    flex-direction: column;

}


.cardImage {
    width: 200px;
    border-radius: 9px;
    margin-bottom: 9px;
    height: 250px;
    object-fit: cover
   
}